/* Main */
html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0;
  color: #575756;
  background-color: #ffffff;
  overflow-x: hidden; }

html *,
body * {
  outline: inherit !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -khtml-transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out; }

h1 {
  font-size: 55px;
  font-weight: 800;
  line-height: 1.09;
}

h2 {
  font-size: 45px;
  font-weight: 800;
  line-height: 1.56;
}

h3 {
  font-size: 35px;
  font-weight: 800;
  line-height: 1.71;
}

h4 {
  font-size: 30px;
  font-weight: 800;
  line-height: 2;
}

h5 {
  font-size: 28px;
  font-weight: 800;
  line-height: 2.14;
}

a {
  color: #575756;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #3a3a3a;
  text-decoration: none;
}

strong {
  color: #fdcc00;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul ul {
  margin-left: 30px;
}

ul li {
  font-size: 29px;
  font-weight: 500;
  line-height: normal;
}

.footer-link {
  color: #575756;
}

.footer-link:focus,
.footer-link:hover {
  color: #3a3a3a;
}

/* Header */
header {
  position: fixed;
  display: block;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 1px 10px 0px grey;
  z-index: 999;
  height: 113px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  -khtml-transition: 0.3s;
  transition: 0.3s;
}

.logo {
  display: block;
  top: 0;
  left: 0;
  width: 216px;
  height: auto;
  margin: 12px 0 13px 15px;
  z-index: 999;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  -khtml-transition: 0.3s;
  transition: 0.3s;
}

.logo img {
  max-width: 100%;
}

header .container {
  position: relative;
  padding-right: 0;
  padding-left: 0;
}

header .navbar-default {
  background-color: #ffffff;
  border-color: transparent;
}

header .navbar-default .navbar-toggle {
  position: absolute;
  right: 0;
  margin-top: 10px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  -khtml-transition: 0.3s;
  transition: 0.3s;
}

header .navbar-nav {
  margin-top: 15px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  -khtml-transition: 0.3s;
  transition: 0.3s;
}

header .navbar {
  margin-bottom: 0;
  border-color: transparent;
}

header .navbar-default .navbar-nav>li>a {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #575756;
}

header .navbar-brand {
  padding: 0;
}

header .nav li {
  font-size: 19px;
  font-weight: bold;
  line-height: 0.23;
  letter-spacing: normal;
}

header .header-private {
  position: absolute;
  top: 50px;
  right: 15px;
  display: block;
  padding: 15px;
  font-size: 15px;
  font-weight: bold;
  line-height: 0.23;
  border-radius: 13px;
  background-color: #fdcc00;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  -khtml-transition: 0.3s;
  transition: 0.3s;
}

header .header-info-tel {
  position: absolute;
  right: 0;
  bottom: -32px;
  padding: 0 10px 10px 20px;
  background: #ffffff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 35px;
  font-size: 25px;
  font-weight: bold;
  line-height: 0.2;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  -khtml-transition: 0.3s;
  transition: 0.3s;
}

header.smaller {
  height: 113px;
}

header.smaller .navbar-nav {
  margin-top: 15px;
}

header.smaller .header-private {
  top: 50px;
}

header.smaller .logo {
  width: 216px;
}

@media (min-width: 768px) {
  header .nav li {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  .logo {
    width: 100%;
    margin: 11px 10px 12px 15px;
  }

  header .navbar-nav {
    margin-top: 32px;
  }

  header .nav li {
    font-size: 19px;
  }

  header .header-private {
    top: 72px;
    padding: 20px;
    font-size: 22px;
  }

  header.smaller .navbar-nav {
    margin-top: 5px;
  }

  header.smaller .header-private {
    top: 35px;
    padding: 20px;
    font-size: 22px;
  }

  header .header-info-tel {
    font-size: 30px;
  }
}

/* Page */
.page-wrapper {
  padding-top: 166px;
}

.home-title-slide {
  position: relative;  
}

.center-title-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 40px);
  transform: translate(-50%, -30%);
}

.center-main-title {
  font-size: 18px;
  color: #ffffff;
}

.center-sub-title {
  display: inline-block;
  padding: 12px 25px;
  font-size: 15px;
  color: #4d8fcc;
  background-color: #ffffff;
}

@media (min-width: 480px) {
  .center-title-wrapper {
    width: calc(100% - 40px);
  }

  .center-main-title {
    font-size: 18px;
  }

  .center-sub-title {
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  .center-title-wrapper {
    top: 50%;
    width: calc(100% - 40px);
    transform: translate(-50%, -50%);
  }

  .center-main-title {
    font-size: 38px;
  }

  .center-sub-title {
    font-size: 20px;
  }
}

@media (min-width: 1080px) {
  .center-title-wrapper {
    top: 50%;
    left: 50%;
    width: 1080px;
    transform: translate(-50%, -50%);
  }

  .center-main-title {
    font-size: 58px;
  }

  .center-sub-title {
    font-size: 36px;
  }
}

.home-title-wrapper {
  position: relative;
}

.home-title-quote {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 20px;
  font-size: 35px;
  font-weight: bold;
  font-style: italic;
  text-align: justify;
  background-color: #fdcc00;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
}

.home-title-quote p {
  font-size: 35px;
  color: #ffffff;
}

.residence-wrapper {
  position: relative;
  padding-top: 100px;
  padding-bottom: 40px;
}

.residence-wrapper .residence-title {
  padding-top: 30px;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.24;
  text-align: center;
}

.img-color-overlay {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  overflow: hidden;
}

.img-color-overlay img {
  width: 100%;
}

.img-color-overlay::after {
  content:"";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.overlay-blue::after {
  background-color: rgba(77, 143, 204, .6);
}

.overlay-lemon::after {
  background-color: rgba(139, 190, 35, .6);
}

.overlay-pink::after {
  background-color: rgba(215, 71, 147, .6);
}

.overlay-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay-container {
  position: absolute;
  z-index: 2;
  top: calc(100% - 47px);
  padding: 20px 30px;
  transition: .7s;
}

.overlay-wrapper .img-overlay-title {
  font-size: 20px;
  font-weight: 800;
  line-height: 1.38;
  border-bottom: 6px solid #ffffff;
  text-transform: uppercase;
  color: #ffffff;
}

.overlay-wrapper .img-overlay-content {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}

.img-overlay-btn {
  padding: 10px;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  background-color: #ffffff;
}

.color-blue {
  color: #4d8fcc;
}

.color-lemon {
  color: #8bbe23;
}

.color-pink {
  color: #d74793;
}

.bg-yellow {
  background-color: #fdcc00;
}

.overlay-wrapper:hover .overlay-container {
  top: 50%;
  transform: translateY(-50%);
}

.home-note {
  position: initial;
  width: 100%;
  background-color: #d74793;
}

.home-note .home-note-wrapper {
  position: relative;
  min-height: 165px;
  padding: 15px;
  text-align: center;
}

.home-note .home-note-wrapper img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.home-note .home-note-wrapper p {
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
}

.home-note .home-note-wrapper .note-click {
  padding: 10px;
  font-size: 22px;
  font-weight: 800;
  text-align: left;
  color: #575756;
  background-color: #ffffff;
}

.news-events-wrapper {
  padding: 98px 0px 50px 0px;
  background-color: #f1f1f1;
}

.news-events,
.calendar-container {
  margin-bottom: 50px;
}

.news-events .news-events-title {
  margin-bottom: 90px;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.more-news-events,
.all-newspaper {
  display: inline-block;
  padding: 10px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  background-color: #fdcc00;
  text-transform: uppercase;
}

.calendar-container {
  min-height: 500px;
  background-color: #fdcc00;
}

.resident-newspaper {
  padding: 100px 0;
}

.resident-newspaper-title {
  margin-bottom: 35px;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.eye-clein {
  font-family: "Lobster", cursive;
  font-size: 30px;
}

.discover-newspaper {
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
}

.all-newspaper-container {
  margin-top: 25px;
}

.cards {
  display: flex;
  padding: 0 15px 60px 15px;
  flex-flow: row wrap;
  justify-content: space-around;
}

.card {
  position: relative;
  padding: 0;
  width: 100%;
}

.card img {
  width: 100%;
  max-width: 100%;
}

.card .card-overlay {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: rgba(0,0,0,.4);
  transition: .7s;
}

.card .card-overlay p {
  padding: 15px 25px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 800;
  text-align: left;
  text-transform: uppercase;
  color: #ffffff;
}

.card:hover .card-overlay {
  background-color: rgba(253,204,0,.4);
  height: 100%;
}

.card:hover .card-overlay p {
  position: absolute;
  bottom: 0;
}

/* Animations */
.page-title {
  position: relative;
  min-height: 400px;
  background-image: url("../../public/images/page-title.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.page-title img {
  position: absolute;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
}

.page-title .page-title-text {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
}

.page-navigator {
  background-color: #fdcc00;
}

.page-navigator .breadcrumb {
  padding: 25px 15px;
  margin: 0;
  background-color: transparent;
}

.page-navigator .breadcrumb .breadcrumb-item {
  font-size: 28px;
  font-weight: 500;
  text-decoration: none;
}

.page-navigator .breadcrumb-item+.breadcrumb-item::before {
  display: inline-block;
  padding-right: .5rem;
  padding-left: .5rem;
  color: #575756;
  content: ">";
}

.page-navigator .breadcrumb .breadcrumb-item.active strong {
  color: #575756;
}

.boxed-content {
  padding: 75px 60px;
}

.boxed-content p {
  font-weight: 500;
  text-align: justify;
}

.page-overlay-content .img-color-overlay {
  margin: 0;
  min-height: 550px;
}

.page-overlay-content .img-color-overlay img {
  position: absolute;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
}

.page-overlay-title {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  font-size: 35px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.page-overlay-title.title-sm {
  font-size: 35px;
}

.no-gap {
  padding: 0;
}

.page-classic-wrapper {
  padding-top: 90px;
  padding-bottom: 90px;
}

.text-sm {
  font-size: 20px;
}

.blockquote-wrapper {
  position: relative;
  margin: 20px 0;
}

.blockquote {
  padding: 50px 100px;
  font-size: 24px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
}

.blockquote::before {
  position: absolute;
  left: 0;
  top: -50px;
  z-index: 1;
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-size: 230px;
  opacity: 0.4;
  color: #fdcc00;
  content: "\201D";
}

.blockquote::after {
  position: absolute;
  right: 0;
  bottom: -125px;
  z-index: 1;
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-size: 230px;
  opacity: 0.4;
  color: #fdcc00;
  content: "\201D";
}

.bordered-image {
  width: 100%;
  max-width: 800px;
  background-color: #ffffff;
  border: 4px solid #fdcc00;
  padding: 18px;
  position: relative;
  margin: 0 auto;
}

.bordered-image:before {
  background: none;
  border: 4px solid #fff;
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  pointer-events: none;
}

.contact-wrapper {
  position: relative;
}

.contact-detail {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

.contact-title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 300;
  color: #3a3a3a;
}

.contact-address {
  margin-bottom: 35px;
  font-weight: 500;
  color: #3a3a3a;
}

.contact-phone {
  font-size: 30px;
  font-weight: 800;
  color: #3a3a3a;
}

.gap-top-md {
  margin-top: 45px;
}
.gap-top-sm {
  margin-top: 20px;
}
.gap-bottom-sm {
  margin-bottom: 20px;
}

.newspaper-list {
  padding: 70px 0px 120px 0px;
}

.newspaper {
  padding: 35px 0px 25px 0px;
  border-bottom: 4px solid #cdcdcd;
}

.newspaper .newspaper-title {
  font-size: 31px;
  font-weight: 500;
  color: #575756;
}

.newspaper .view-newspaper {
  display: inline-block;
  padding: 10px 20px;
  font-size: 26.2px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fdcc00;
}

@media (min-width: 480px) {
  .page-overlay-title {
    font-size: 73px;
  }

  .page-overlay-title.title-sm {
    font-size: 58px;
  }

  .page-title .page-title-text {
    font-size: 45px;
  }

  .residence-wrapper .residence-title {
    padding-top: 120px;
  }
}

@media screen and (min-width: 992px) {
  .boxed-flex-md {
    display: flex;
  }

  .boxed-flex-md-content {
    width: auto;
    height: 100%;
  }

  .page-title .page-title-text {
    font-size: 84px;
  }
}

@media (min-width: 768px) {
  .cards {
    padding: 0 35px 60px 35px;
  }

  .card .card-overlay p {
    font-size: 35px;
  }

  .residence-wrapper .residence-title {
    padding-top: 80px;
    font-size: 50px;
  }

  .overlay-container {
    top: calc(100% - 63px);
  }

  .overlay-wrapper .img-overlay-title {
    font-size: 32px;
  }

  .overlay-wrapper .img-overlay-content {
    font-size: 17px;
  }

  .news-events .news-events-title {
    margin-bottom: 90px;
    font-size: 50px;
  }

  .resident-newspaper-title {
    font-size: 50px;
  }

  .eye-clein {
    font-size: 49px;
  }

  .discover-newspaper {
    font-size: 35px;
  }
}

@media (min-width: 992px) {
  .card .card-overlay p {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  .cards {
    padding: 0 90px 60px 90px;
  }
}

@media (min-width: 1625px) {
  .card .card-overlay p {
    font-size: 35px;
  }
}

@media (min-width: 1700px) {
  .home-note {
    position: absolute;
    top: 105px;
    left: 25px;
    width: 290px;
    background-color: #d74793;
  }

  .home-note .home-note-wrapper {
    position: relative;
    min-height: 165px;
    padding: 15px;
    text-align: left;
  }

  .home-note .home-note-wrapper img {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .home-note .home-note-wrapper p {
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
  }

  .home-note .home-note-wrapper .note-click {
    padding: 10px;
    font-size: 22px;
    font-weight: 800;
    text-align: left;
    color: #575756;
    background-color: #ffffff;
  }
}

@media (max-width: 991px) {
  .home-title-quote {
    left: 50%;
    transform: translate(-50%, -35%);
  }
  
  .home-title-quote p {
    font-size: 25px;
  }
}

@media (max-width: 767px) {
  .home-title-quote {
    left: 20%;
    transform: translate(-13%, -30%);
  }

  .home-title-quote p {
    font-size: 15px;
  }

  .residence-wrapper {
    padding-top: 0;
  }
}

@media (max-width: 479px) {
  .home-title-quote {
    position: initial;
    transform: none;
    width: 100%;
  }
}

/* Footer */
.footer-info-area {
  padding-top: 34px;
  padding-bottom: 64px;
  background-color: #fdcc00;
}

 .footer-col {
   margin-top: 30px;
 }

@media (min-width: 1220px) {
  .container {
      width: 1216px;
  }
}

@media (min-width: 768px) {
  .footer-info-area .container {
    padding: 0;
  }

  header .navbar-default .navbar-nav>li>a {
    padding-top: 0;
    padding-bottom: 0;
  }

  header .navbar-default .navbar-nav>li:not(:last-child) {
    border-right: 3px solid #575756;
  }
}

.footer-info-area .footer-title {
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 800;
  color: #ffffff;
}

.footer-info-address {
  margin-bottom: 35px;
}

.footer-info-tel {
  display: block;
  margin-bottom: 0;
  font-size: 34px;
  font-weight: 800;
}

.footer-copyright-area {
  min-height: 64px;
  background-color: #575756;
}

.copyright-content {
  padding: 16px;
  font-size: 27px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

#gmap {
  width: 100%;
  height: 100%;
  max-width: 340px;
  min-height: 320px;
  border: 1px solid #CECECE;
}

#gmap-contact {
  width: 100%;
  height: 100%;
  min-height: 900px;
  border: 1px solid #CECECE;
}

#gmap-contact:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.7);
}

.input-group-addon {
	background-color: transparent;
	border-color: #d80e28;
}
.input-group-addon .fa {
	color: #d80e28;
}
.form-control {
	height: 42px;
	border-color: #c7c7c7;
	border-left: 0;
}
.form-control:focus {
	border-color: #c7c7c7;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.form-elem {
	width: 100%;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	-khtml-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}
.form-elem *,
.form-elem *:before {
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	-khtml-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}
.form-elem *:focus {
	border-color: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	outline: none;
}
.form-elem *::-webkit-input-placeholder {
	color: #fdcc00;
}
.form-elem *:-moz-placeholder {
	color: #fdcc00;
	opacity: 1;
}
.form-elem *::-moz-placeholder {
	color: #fdcc00;
	opacity: 1;
}
.form-elem *:-ms-input-placeholder {
	color: #fdcc00;
}
.form-elem *::-ms-input-placeholder {
	color: #fdcc00;
}
.form-elem.input-date,
.form-elem.input-box {
	display: inline-table;
	vertical-align: middle;
	background-color: #ffffff;
	border: 1px solid #c7c7c7;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-khtml-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.17);
}
.form-elem.input-date input,
.form-elem.input-box input {
	padding: 10px 18px 12px 25px;
	width: 100%;
	height: 55px;
	display: table-cell;
	line-height: 55px;
	color: #fdcc00;
  font-size: 23px;
  font-weight: 800;
	border-width: 0;
	vertical-align: top;
	background-color: transparent;
}
.form-elem.input-date input:focus,
.form-elem.input-box input:focus {
	background-color: #ffffff;
	color: #fdcc00;
}
.form-elem.input-box input:focus::-webkit-input-placeholder {
	color: #ffffff;
}
.form-elem.input-box input:focus:-moz-placeholder {
	color: #fdcc00;
	opacity: 1;
}
.form-elem.input-box input:focus::-moz-placeholder {
	color: #fdcc00;
	opacity: 1;
}
.form-elem.input-box input:focus:-ms-input-placeholder {
	color: #fdcc00;
}
.form-elem.input-box input:focus::-ms-input-placeholder {
	color: #fdcc00;
}
.form-elem.textarea-box {
	position: relative;
	display: inline-block;
	background-color: #fcfcfc;
	border: 1px solid #c7c7c7;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-khtml-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.17);
}
.form-elem.textarea-box textarea {
	padding: 12px 21px;
	width: 100%;
	display: block;
	resize: none;
	font-size: 23px;
	font-weight: 800;
	border-width: 0;
	color: #fdcc00;
	background-color: transparent;
}
.form-elem.form-submit {
  display: inline-block;
	max-width: 160px;
}
.form-elem.form-submit input[type="submit"] {
	width: 100%;
	padding: 20px 30px;
  font-size: 27px;
  font-weight: 900;
	text-align: center;
	color: #ffffff;
  border-color: transparent;
  -webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-o-border-radius: 30px;
	-ms-border-radius: 30px;
	-khtml-border-radius: 30px;
  border-radius: 30px;
  background-color: #3a3a3a;
}

@media (min-width: 455px) {
  header,
  header.smaller {
    height: 113px;
  }
}

@media (min-width: 640px) {
  .card {
    width: 50%;
  }
}

@media (min-width: 992px) {
  header {
    height: 166px;
  }

  header.small {
    height: 166px;
  }

  #gmap-contact {
    width: 100%;
    height: 100%;
    min-height: 540px;
    border: 1px solid #CECECE;
  }

  .card {
    width: 33.33333333%;
  }
}

@media (max-width: 991px) {
  .page-wrapper {
    padding-top: 113px;
  }
}

@media (max-width: 455px) {
  .page-wrapper {
    padding-top: 164px;
  }

  header .navbar-default .navbar-toggle {
    margin-top: 30px;
  }

  header .header-info-tel {
    bottom: -58px;
  }

  header .header-private {
    top: 80px;
  }
  
  header.smaller .header-private {
    top: 75px;
  }
}